<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://localhost:3001/" />
                <rewriteMap name="localhost:3001" />
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule1 for localhost:3001">
                    <match url=".*" />
                    <conditions>
                        <add input="{localhost:3001:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
